# See https://www.freshbooks.com/api/authentication for creating an
# Freshbooks app that will have a CLIENT_ID and CLIENT_SECRET

CLIENT_ID = ''
CLIENT_SECRET = ''

# Once you have that app set up, you'll need the account id for your
# business. You can get that from, the "me" endpoint https://www.freshbooks.com/api/me_endpoint
ACCOUNT_ID = ''
